{{ansible_managed|comment(decoration='#')}}

# INTERFACE

{% if not (item.description|default('') == '') %}description "{{item.description}}" {% endif %}
{%- if not (item.comment|default('') == '') %}# {{item.comment}}{% endif %}

{% for interface in (item.interfaces|default([])) %}
{%- if (interface.version|default('inet') is match('ipv6|ip6|inet6')) %}inet6 {% else %}inet {% endif %}
{%- if (interface.alias|default(False) == True) %}alias {% endif %}
{%- if not (interface.ip|default('') == '') %}{{interface.ip}} {% endif %}
{%- if not (interface.netmask|default('') == '') %}{{interface.netmask}} {% endif %}
{%- if not (interface.broadcast|default('') == '') %}{{interface.broadcast}} {% else %}NONE {% endif %}
{%- if not (interface.description|default('') == '') and not (interface.alias|default(False) == True) %}description "{{interface.description}}" {% endif %}
{%- if not (interface.comment|default('') == '') %}# {{interface.comment}}{% endif %}

{% endfor %}

# STATE

{% if (item.status|default(True) == False) %}
down
{% else %}
up
{% endif %}

# COMMAND

!/usr/local/bin/wg setconf {{item.device}} /etc/wireguard/{{item.device}}.conf
