{{ansible_managed|comment(decoration='#')}}

[Interface]
ListenPort = {{item.listen_port|int(51820)}}
PrivateKey = {{item.private_key}}

{% for peer in (item.peers|default([])) %}

{% if not (peer.description|default('') == '') %}
# {{peer.description}}
{% endif %}
[Peer]
{% if not (peer.endpoint|default('') == '') %}
Endpoint = {{peer.endpoint}}
{% endif %}
PublicKey = {{peer.public_key}}
{% if not (peer.allowed_ips|default([]) == []) %}
AllowedIPs = {% for ip in peer.allowed_ips %}{{ip}}{% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}
{% if not (peer.persistent_keepalive|default(25) == '') %}
PersistentKeepalive = {{peer.persistent_keepalive|default|int(25)}}
{% endif %}
{% endfor %}
